.info-center {
    /*background-color: lightpink;*/
    width: 1260px;
    /*height: 780px;*/
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    

}

.info-box {
    /*background-color: lightpink;*/
    background-color: #00000080;
    border-radius: 20px;
    color: white;
    display: flex;

    border-width: 2px;
    border-style: solid;
    border-color: rgb(194, 158, 0);
}

.planet-pictures {
    /*background-color: lightpink;*/
    flex: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.planet-info {
    /*background-color: lightblue;*/
    flex: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planet-info-top {
    background:linear-gradient(180deg, rgba(134, 134, 134, 0.137) 0%, rgba(253, 218, 142, 0.137) 100% );
    border-radius: 20px;
    flex: 20%;
    font-size: 40px;
    margin-top: 15px;
    padding: 10px;

}

.planet-info-bottom {
    background:linear-gradient(180deg, rgba(134, 134, 134, 0.137) 0%, rgba(253, 218, 142, 0.137) 100% );
    border-radius: 20px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    flex: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.construction-box {
    /*background-color: lightblue;*/
    display: flex;
    align-items: baseline;
}

.construction-building-box {
    /*background-color: rgb(68, 0, 255);*/
    background-color: #000000c9;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 10px;
 

    border-width: 2px;
    border-style: solid;
    border-color: rgb(194, 158, 0);
}

.consturction-building-left {
    background:linear-gradient(180deg, rgba(134, 134, 134, 0.137) 0%, rgba(253, 218, 142, 0.137) 100% );
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.consturction-building-picture {
    height: 170px;
    border-radius: 20px;
    padding: 10px;
}

.consturction-building-info {
    text-align: center;
    line-height: 30px;
    padding: 10px;
}

.consturction-building-right {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.consturction-building-right-pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin:10px
}

.consturction-building-right-pictures img {
    border-radius: 10px;
    height: 70px;
    margin: 5px;
}

.construction-ship-box {
    /*background-color: yellow;*/
    background-color: #000000c9;
    color: white;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    flex: 1;
    margin-left: 10px;

    border-width: 2px;
    border-style: solid;
    border-color: rgb(194, 158, 0);

}

.consturction-ship-left {
    background:linear-gradient(180deg, rgba(134, 134, 134, 0.137) 0%, rgba(253, 218, 142, 0.137) 100% );
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.consturction-ship-picture {
    height: 170px;
    border-radius: 20px;
    padding: 10px;
}

.consturction-ship-info {
    text-align: center;
    line-height: 30px;
    padding: 10px;
}

.consturction-ship-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.consturction-ship-right-pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin:10px
}

.consturction-ship-right-pictures img {
    border-radius: 10px;
    height: 70px;
    margin: 5px;
}

